{% extends 'base.html.twig' %}

{% block title %}Nuevo Alumno{% endblock %}

{% block body %}
    <h1>Nuevo Alumno</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Guardar</button>
    {{ form_end(form) }}
    <a href="{{ path('alumno_index') }}">Volver al listado</a>
{% endblock %} 