{% extends 'base.html.twig' %}

{% block title %}Editar Carrera{% endblock %}

{% block body %}
    <h1>Editar Carrera</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Guardar cambios</button>
    {{ form_end(form) }}
    <a href="{{ path('carrera_index') }}">Volver al listado</a>
{% endblock %} 