{% extends 'base.html.twig' %}

{% block title %}Nueva Nota{% endblock %}

{% block body %}
    <h1>Nueva Nota</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Guardar</button>
    {{ form_end(form) }}
    <a href="{{ path('nota_index') }}">Volver al listado</a>
{% endblock %} 