{% extends 'base.html.twig' %}

{% block title %}Editar Pago{% endblock %}

{% block body %}
    <h1>Editar Pago</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Guardar cambios</button>
    {{ form_end(form) }}
    <a href="{{ path('pago_index') }}">Volver al listado</a>
{% endblock %} 